# Server Configuration
PORT=3000

# Database Configuration (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=CulinShare

# JWT Configuration
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=15m

# Gemini AI Configuration
GEMINI_API_KEY=AIzaSyBipLb1zg5Yf9kjFsGqf3h6nxLc1pCEtiM
GEMINI_MODEL=gemini-2.5-flash-lite

# Email Configuration (Nodemailer - Gmail SMTP)

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=pidangkap@gmail.com
EMAIL_PASSWORD=bghsopedgcdckbhq
EMAIL_FROM="App Support <pidangkap@gmail.com>"